@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #1C1C2A transparent;
  }
}

@layer utilities {
  .delay-75  { animation-delay: 75ms; }
  .delay-150 { animation-delay: 150ms; }
  .delay-225 { animation-delay: 225ms; }
  .delay-300 { animation-delay: 300ms; }
  .delay-375 { animation-delay: 375ms; }
  .delay-450 { animation-delay: 450ms; }
}
